*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.7;
    background-color: #f4f4f4;
    color: #0a0516;
}
.header{
    background-color: #99d0f0;
    color: #f5f3f5;
    padding: 10 px 0;
    text-align: center;
}
.header h1{
    margin: 10 px;
    color: rgb(7, 7, 7);
}
nav ul{
list-style: none;
display: flex;     /*flex_---*/
justify-content: center;
padding: 10 px 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a {
    color: #f1f371;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    /* text-decoration: dotted; */
}
.main-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.left-frame,.right-frame,.center-frame{
    width: 30%;
    padding: 30px;
    background: #c2c2d8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,01);
}
.left-frame ul{
    list-style: none;
}
.left-frame li{
margin : 10px0;
} 
.right-frame ul{
    background-color: #5989a1;
}
footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color:#f1f371;
    position: relative;
    width: 100%;    
    bottom: 0;
}
/* style for catalouge table */
.Catalogue-Table table{
    width: 100%;
    border-collapse: collapse;
}
.Catalogue-Table th,.Catalogue-Table td{
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;  
    /* text ko left , right, centre rakh skte hai */
}
.Catalogue-Table th {
    background: #b9c1ec
}
.Catalogue-Table tr:nth-child(even){
    background: #a5a5d3;
}
.Catalogue-Table tr:nth-child(odd){
    background: #c1c1ca;
}
.book-image{
    width: 50px;
    height: 50px;
}



/* Bordered form */
form {
    border: 3px solid #22045a;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #0f0469;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 20px;
   
  }
  
  /* The "Forgot password" text
  span.psw {
    float: right;
    padding-top: 16px;
  } */
  
  /* Change styles for span and cancel button on extra small screens
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    } */

     /*   
  Extra style for the cancel button (red)
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #545e94;
  } */
  
  .sign{
    padding: 15px;

  }
